<div class="container p-4 p-md-5">
  <div class="small text-muted">Components</div>
  <h1>Text input</h1>
  <p class="lead">You can use either the npm or yarn command-line tool to install packages. Use whichever is appropriate for your project in the examples below.</p>

  <h2>Label</h2>
  <ft-text-input label="Name" style="max-width:300px;"></ft-text-input>

  <h2 class="mt-5">Placeholder</h2>
  <ft-text-input label="Name" style="max-width:300px;"></ft-text-input>

  <h2 class="mt-5">Search type</h2>
  <ft-text-input type="search" label="Find something" style="max-width:300px;"></ft-text-input>
</div>
