<div class="container p-4 p-md-5">
  <div class="small text-muted">Components</div>
  <h1>Icon</h1>
  <p class="lead">You can use either the npm or yarn command-line tool to install packages. Use whichever is appropriate for your project in the examples below.</p>

  <h2>Collection</h2>
  <table class="table table-bordered"><tr>
    <td class="text-center p-3"><ft-icon name="search" size="3" collection="factoricons-slim"></ft-icon></td>
    <td class="text-center p-3"><ft-icon name="bookmark" size="3" collection="factoricons-slim"></ft-icon></td>
    <td class="text-center p-3"><ft-icon name="pencil" size="3" collection="factoricons-slim"></ft-icon></td>
    <td class="text-center p-3"><ft-icon name="gear" size="3" collection="factoricons-slim"></ft-icon></td>
    <td class="text-center p-3"><ft-icon name="music" size="3" collection="factoricons-slim"></ft-icon></td>
  </tr></table>
  <table class="table table-bordered"><tr>
    <td class="text-center p-3"><ft-icon name="search" size="3" collection="factoricons-regular"></ft-icon></td>
    <td class="text-center p-3"><ft-icon name="bookmark" size="3" collection="factoricons-regular"></ft-icon></td>
    <td class="text-center p-3"><ft-icon name="pencil" size="3" collection="factoricons-regular"></ft-icon></td>
    <td class="text-center p-3"><ft-icon name="gear" size="3" collection="factoricons-regular"></ft-icon></td>
    <td class="text-center p-3"><ft-icon name="music" size="3" collection="factoricons-regular"></ft-icon></td>
  </tr></table>

  <h2>Size</h2>
  <table class="table table-bordered"><tr>
    <td style="vertical-align: middle;" class="text-center p-3"><ft-icon name="search" size="1" collection="factoricons-slim"></ft-icon></td>
    <td style="vertical-align: middle;" class="text-center p-3"><ft-icon name="search" size="2" collection="factoricons-slim"></ft-icon></td>
    <td style="vertical-align: middle;" class="text-center p-3"><ft-icon name="search" size="3" collection="factoricons-slim"></ft-icon></td>
    <td style="vertical-align: middle;" class="text-center p-3"><ft-icon name="search" size="4" collection="factoricons-slim"></ft-icon></td>
    <td style="vertical-align: middle;" class="text-center p-3"><ft-icon name="search" size="5" collection="factoricons-slim"></ft-icon></td>
  </tr></table>
</div>
