<div class="container p-4 p-md-5">
  <div class="small text-muted">Componentes</div>
  <h1>Icon</h1>
  <p class="lead">Permite usar íconos vectoriales en una aplicación, soporta librerías de íconos SVG.</p>

  <mat-card class="mb-4 p-0 overflow-hidden">
    <pre><code [highlight]="code" class="p-0 bg-white"></code></pre>
  </mat-card>

  <h4>Collection</h4>
  <table class="table table-bordered"><tr>
    <td class="text-center p-3"><ft-icon name="search" size="3" collection="factoricons-slim"></ft-icon></td>
    <td class="text-center p-3"><ft-icon name="bookmark" size="3" collection="factoricons-slim"></ft-icon></td>
    <td class="text-center p-3"><ft-icon name="pencil" size="3" collection="factoricons-slim"></ft-icon></td>
    <td class="text-center p-3"><ft-icon name="gear" size="3" collection="factoricons-slim"></ft-icon></td>
    <td class="text-center p-3"><ft-icon name="music" size="3" collection="factoricons-slim"></ft-icon></td>
  </tr></table>
  <table class="table table-bordered"><tr>
    <td class="text-center p-3"><ft-icon name="search" size="3" collection="factoricons-regular"></ft-icon></td>
    <td class="text-center p-3"><ft-icon name="bookmark" size="3" collection="factoricons-regular"></ft-icon></td>
    <td class="text-center p-3"><ft-icon name="pencil" size="3" collection="factoricons-regular"></ft-icon></td>
    <td class="text-center p-3"><ft-icon name="gear" size="3" collection="factoricons-regular"></ft-icon></td>
    <td class="text-center p-3"><ft-icon name="music" size="3" collection="factoricons-regular"></ft-icon></td>
  </tr></table>

  <h4>Size</h4>
  <table class="table table-bordered"><tr>
    <td style="vertical-align: middle;" class="text-center p-3"><ft-icon name="search" size="1" collection="factoricons-slim"></ft-icon></td>
    <td style="vertical-align: middle;" class="text-center p-3"><ft-icon name="search" size="2" collection="factoricons-slim"></ft-icon></td>
    <td style="vertical-align: middle;" class="text-center p-3"><ft-icon name="search" size="3" collection="factoricons-slim"></ft-icon></td>
    <td style="vertical-align: middle;" class="text-center p-3"><ft-icon name="search" size="4" collection="factoricons-slim"></ft-icon></td>
    <td style="vertical-align: middle;" class="text-center p-3"><ft-icon name="search" size="5" collection="factoricons-slim"></ft-icon></td>
  </tr></table>
</div>
