<div class="container p-4 p-md-5">
  <div class="small text-muted">Guidelines</div>
  <h1>Typography</h1>
  <p class="lead">Our brand font is Mark and comes in two weights, 400 and 700. We have five “title” variations used for headings and three “body” sizes used for body copy.</p>
  <h2 class="my-5">Font Weight</h2>
  <div class="text-center row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body" style="font-weight: 300; font-size: 2rem;">Light 300</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body" style="font-weight: 400; font-size: 2rem;">Regular 400</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body" style="font-weight: 500; font-size: 2rem;">Medium 500</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body" style="font-weight: 700; font-size: 2rem;">Bold 700</div>
      </div>
    </div>
  </div>
  <h2 class="my-5">Size Variations</h2>
  <div class="d-md-flex">
    <div class="mr-5 mt-n3">
      <div class="display-1 text-nowrap">Display 1</div>
      <div class="display-2 text-nowrap">Display 2</div>
      <div class="display-3 text-nowrap">Display 3</div>
      <div class="display-4 text-nowrap">Display 4</div>
    </div>
    <div class="mr-5">
      <div class="h1 text-nowrap">Heading 1</div>
      <div class="h2 text-nowrap">Heading 2</div>
      <div class="h3 text-nowrap">Heading 3</div>
      <div class="h4 text-nowrap">Heading 4</div>
      <div class="h5 text-nowrap">Heading 5</div>
      <div class="h6 text-nowrap">Heading 6</div>
    </div>
    <div>
      <p class="lead mb-0">
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
      </p>
      <div class="small mb-4" style="font-weight: 700;">Lead</div>
      <p class="mb-0">
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
      </p>
      <div class="small mb-4" style="font-weight: 700;">Paragraph</div>
      <p class="small mb-0">
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
      </p>
      <div class="small" style="font-weight: 700;">Small</div>
    </div>
  </div>
  <h2 class="mt-5">Responsive font sizes</h2>
  <p>Bootstrap v4.3 ships with the option to enable responsive font sizes, allowing text to scale more naturally across device and viewport sizes. RFS can be enabled by changing the $enable-responsive-font-sizes Sass variable to true and recompiling Bootstrap.</p>
  <p>To support RFS, we use a Sass mixin to replace our normal font-size properties. Responsive font sizes will be compiled into calc() functions with a mix of rem and viewport units to enable the responsive scaling behavior. More about RFS and its configuration can be found on its GitHub repository.</p>
</div>
