<div class="position-relative overflow-hidden p-3 p-md-5 text-center bg-light">
  <div class="col-md-9 p-lg-5 mx-auto">
    <h1 class="display-4 font-weight-normal">Factor Design System</h1>
    <p class="lead font-weight-normal">Assets for building high-quality, consistent user interfaces.</p>
    <p>The Carbon Design System is IBM’s open-source design system for products and experiences. With the IBM Design Language as its foundation, the system consists of working code, design tools and resources, human interface guidelines, and a vibrant community of contributors.</p>
    <a class="btn btn-outline-primary btn-lg" href="#">Getting started</a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<div class="container p-3 p-md-5">
  <div class="row mb-5">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">About Design System</h5>
          <p class="card-text">Assets for multiple platforms.</p>
          <a routerLink="/about" class="card-link">Learn more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Components Library</h5>
          <p class="card-text">Assets for multiple platforms.</p>
          <a routerLink="/components" class="card-link">Learn more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Icons Library</h5>
          <p class="card-text">Assets for multiple platforms.</p>
          <a routerLink="/icons" class="card-link">Learn more</a>
          <a  routerLink="/icons/search" class="card-link">Search icons</a>
        </div>
      </div>
    </div>
  </div>
  <h3>Looking to contribute?</h3>
  <p>We welcome all feedback, designs, or ideas in order to produce the best possible experience for our users. If you're interested in contributing, check out our <a href="#">contributing guidelines</a> to get started.</p>
  <button class="btn btn-outline-primary">Start contributing</button>
</div>
