<div class="container p-5">
  <div class="small text-muted">Guidelines</div>
  <h1>Color</h1>
  <p class="lead">Application of the color palette brings a unified and recognizable consistency to IBM’s vast array of digital products and interfaces. This consistency is grounded by a set of well-defined rules on how to work with the Carbon component library in the context of dark and light themes.</p>
  <h2>Color palette</h2>
  <div class="row">
    <div class="col-sm-6">
      <div class="mb-2">Primary</div>
      <table class="table table-bordered text-center"><tr>
        <td class="swatch-primary">Primary</td>
      </tr></table>
    </div>
    <div class="col-sm-6">
      <div class="mb-2">Secondary</div>
      <table class="table table-bordered text-center"><tr>
        <td class="swatch-secondary">Secondary</td>
      </tr></table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="mb-2">Status</div>
      <table class="table table-bordered text-center"><tr>
        <td class="swatch-danger w-25">Danger</td>
        <td class="swatch-warning w-25">Warning</td>
        <td class="swatch-success w-25">Success</td>
        <td class="swatch-info w-25">Info</td>
      </tr></table>
    </div>
    <div class="col-sm-6">
      <div class="mb-2">Grey scale</div>
      <table class="table table-bordered text-center"><tr>
        <td class="swatch-100"><div class="badge badge-light" style="margin-top: 42px; margin-left: -7px; position: absolute;">Light</div>100</td>
        <td class="swatch-200">200</td>
        <td class="swatch-300">300</td>
        <td class="swatch-400">400</td>
        <td class="swatch-500">500</td>
        <td class="swatch-600">600</td>
        <td class="swatch-700">700</td>
        <td class="swatch-800"><div class="badge badge-dark" style="margin-top: 42px; margin-left: -4px; position: absolute;">Dark</div>800</td>
        <td class="swatch-900">900</td>
      </tr></table>
    </div>
  </div>
  <div class="mb-2">Colors</div>
  <table class="table table-bordered text-center"><tr>
    <td class="swatch-blue">Blue</td>
    <td class="swatch-indigo">Indigo</td>
    <td class="swatch-purple">Purple</td>
    <td class="swatch-pink">Pink</td>
    <td class="swatch-red">Red</td>
    <td class="swatch-orange">Orange</td>
    <td class="swatch-yellow">Yellow</td>
    <td class="swatch-green">Green</td>
    <td class="swatch-teal">Teal</td>
    <td class="swatch-cyan">Cyan</td>
  </tr></table>
</div>
