<div class="container p-4 p-md-5">
  <div class="small text-muted">Componentes</div>
  <h1>Introducción</h1>
  <p class="lead">You can use either the npm or yarn command-line tool to install packages. Use whichever is appropriate for your project in the examples below.</p>

  <h2>NPM</h2>
  <code>npm install --save factor-common factor-inputs factor-navigation</code>
  <h2>Yarn</h2>
  <code>yarn add factor-common factor-inputs factor-navigation</code>


  <div class="row mt-5">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Angular</h5>
          <p class="card-text">Development framework.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Boostrap</h5>
          <p class="card-text">Front-end component library.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">SASS</h5>
          <p class="card-text">CSS extension language.</p>
        </div>
      </div>
    </div>
  </div>
</div>
