<div class="container p-4 p-md-5">
  <div class="d-flex align-items-center mb-2">
    <div>
      <div class="small text-muted">Guidelines</div>
      <h1 class="m-0">Icons</h1>
    </div>
    <div class="page-actions ml-auto">
      <a routerLink="/icons/search" class="btn btn-outline-primary p-2">
        <div class="d-flex">
          <ft-icon name="search" size="2"></ft-icon>
          <div class="d-none d-md-block ml-1 mr-3">Search icons</div>
        </div>
      </a>
    </div>
  </div>
  <p>Icons are a visual representation of an idea and/or action.</p>
  <p class="lead">Used sparingly, Thumbprint icons provide increased meaning and visual importance to sections of content and user actions. Our published set consists of about 100 custom-drawn icons divided into nine categories, with a back catalog of another 400 that can be added as needed.</p>
  <p>An icon by itself doesn't have a meaning, therefore it must be always associalted to a label, an action, or something similar. The icon itself helps to communicate an idea but the meaning must be given by the label. The icon is just a visual aid. Please choose carefully the icon and the associated label so together they have a powerful and not misleading meaning.</p>

<p>Using an icon to communicate a concept is not always easy. If you are in this situation consider just using text.</p>
  <div class="row text-center">
    <div class="col">
      <div class="font-weight-bold">1</div>
      <ft-icon name="search" size="1"></ft-icon>
    </div>
    <div class="col">
      <div class="font-weight-bold">2</div>
      <ft-icon name="search" size="2"></ft-icon>
    </div>
    <div class="col">
      <div class="font-weight-bold">3</div>
      <ft-icon name="search" size="3"></ft-icon>
    </div>
    <div class="col">
      <div class="font-weight-bold">4</div>
      <ft-icon name="search" size="4"></ft-icon>
    </div>
    <div class="col">
      <div class="font-weight-bold">5</div>
      <ft-icon name="search" size="5"></ft-icon>
    </div>
  </div>

  <h3>Why do we use SVG?</h3>
<p>Font icons, while fairly simple, suffer drawbacks, such as sub-pixel aliasing. This results in a lower quality than we would like. SVG gives us and you a greater amount of freedom in styling the icons, as well as a higher level of fidelity and clarity in the icons. Also, SVG supports multi-color icons, as shown below:</p>
</div>
