<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="btn-group">
    <button class="btn btn-outline-primary" [ngClass]="{active:view=='preview'}" (click)="setView('preview')">Preview</button>
    <button class="btn btn-outline-primary" [ngClass]="{active:view=='typescript'}" (click)="setView('typescript')">Typescript</button>
    <button class="btn btn-outline-primary" [ngClass]="{active:view=='scss'}" (click)="setView('scss')">SCSS</button>
  </div>
  <div class="btn-group ml-auto">
    <button class="btn btn-outline-primary" [ngClass]="{active:state=='first-access'}" (click)="setState('first-access')">First access</button>
    <button class="btn btn-outline-primary" [ngClass]="{active:state=='remembered-user'}" (click)="setState('remembered-user')">Remembered user</button>
  </div>
</nav>
<form [formGroup]="form" (ngSubmit)="submit()" class="container p-5" style="max-width: 400px; margin: auto;">
  <h3>Sign in</h3>

  <fieldset class="mb-4" *ngIf="!lastUser; else lastUserForm">
    <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
    <div class="form-group">
      <ft-text-input label="Username" formControlName="username" [autofocus]="true"></ft-text-input>
    </div>
    <div class="form-group">
      <ft-text-input type="password" label="Password" formControlName="password"></ft-text-input>
    </div>
    <div class="form-group d-flex justify-content-between">
      <div>
        <a href="#" class="btn btn-link px-0" i18n>Forgot your password?</a>
      </div>
      <div>
        <button type="submit" class="btn btn-primary" style="min-width: 100px;" [disabled]="!form.valid" i18n>Sign in</button>
      </div>
    </div>
    <div class="form-group">
      <div class="hr-label"><span class="hr-label__text" i18n>or</span></div>
    </div>
    <div class="form-group">
      <a href="#" class="btn btn-outline-primary btn-block" i18n>Sign in with Google</a>
    </div>
    <div class="form-group">
      <a href="#" class="btn btn-outline-primary btn-block" i18n>Sign in with Facebook</a>
    </div>
    <div class="form-group">
      <button class="btn btn-light btn-block p-2">Create an account</button>
    </div>
  </fieldset>
  <ng-template #lastUserForm>
    <fieldset class="mb-4">
      <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
      <div class="form-group">
        <div class="d-flex align-items-center">
          <div class="mr-2" *ngIf="!lastUser.picture; else picture">
            <ft-icon name="user-profile" collection="factoricons-slim" style="font-size:48px;"></ft-icon>
          </div>
          <ng-template #picture>
            <div class="mr-3"><img [src]="lastUser.picture" class="picture rounded-circle" /></div>
          </ng-template>
          <div>{{ lastUser.username }}</div>
        </div>
        <input type="hidden" class="form-control" formControlName="username" />
      </div>
      <div class="form-group">
        <ft-text-input type="password" label="Password" formControlName="password"></ft-text-input>
      </div>
      <div class="form-group d-flex">
        <div class="flex-grow-1">
          <a href="//factor.ec/resetting/request" class="btn btn-link px-0" i18n>Forgot your password?</a>
          <button type="button" class="btn btn-link px-0" (click)="forgotUser()" i18n>It's not me</button>
        </div>
        <div>
          <button type="submit" class="btn btn-primary" style="min-width: 100px;" [disabled]="!form.valid" i18n>Sign in</button>
        </div>
      </div>
    </fieldset>
  </ng-template>
</form>
