<div class="container p-4 p-md-5">
  <div class="small text-muted">Componentes</div>
  <h1>Image</h1>
  <p class="lead">You can use either the npm or yarn command-line tool to install packages. Use whichever is appropriate for your project in the examples below.</p>

  <h4>Lazy load</h4>
  <div class="d-grid grid-col-5">
    <ft-image src="https://images.unsplash.com/photo-1498036882173-b41c28a8ba34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80"></ft-image>
    <ft-image src="https://i.pinimg.com/564x/76/7c/68/767c68857198f0bb57637e11556398b1.jpg?b=t"></ft-image>
    <ft-image src="https://i.pinimg.com/564x/d4/bc/48/d4bc48c6ce744026f8b606847ac7f25e.jpg?b=t"></ft-image>
    <ft-image src="https://i.pinimg.com/564x/6b/eb/c9/6bebc9468d83d3897c3c5cced502e0a6.jpg?b=t"></ft-image>
    <ft-image src="https://i.pinimg.com/564x/c2/92/fd/c292fdbed70d74822eb2b7b2c9a7a05c.jpg?b=t"></ft-image>
    <ft-image src="https://images.unsplash.com/photo-1498036882173-b41c28a8ba34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80"></ft-image>
    <ft-image src="https://i.pinimg.com/564x/6b/eb/c9/6bebc9468d83d3897c3c5cced502e0a6.jpg?b=t"></ft-image>
    <ft-image src="https://i.pinimg.com/564x/76/7c/68/767c68857198f0bb57637e11556398b1.jpg?b=t"></ft-image>
    <ft-image src="https://i.pinimg.com/564x/d4/bc/48/d4bc48c6ce744026f8b606847ac7f25e.jpg?b=t"></ft-image>
    <ft-image src="https://images.unsplash.com/photo-1498036882173-b41c28a8ba34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80"></ft-image>
    <ft-image src="https://i.pinimg.com/564x/76/7c/68/767c68857198f0bb57637e11556398b1.jpg?b=t"></ft-image>
    <ft-image src="https://i.pinimg.com/564x/c2/92/fd/c292fdbed70d74822eb2b7b2c9a7a05c.jpg?b=t"></ft-image>
    <ft-image src="https://i.pinimg.com/564x/6b/eb/c9/6bebc9468d83d3897c3c5cced502e0a6.jpg?b=t"></ft-image>
    <ft-image src="https://i.pinimg.com/564x/c2/92/fd/c292fdbed70d74822eb2b7b2c9a7a05c.jpg?b=t"></ft-image>
    <ft-image src="https://i.pinimg.com/564x/d4/bc/48/d4bc48c6ce744026f8b606847ac7f25e.jpg?b=t"></ft-image>
    <ft-image src="https://images.unsplash.com/photo-1498036882173-b41c28a8ba34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80"></ft-image>
    <ft-image src="https://i.pinimg.com/564x/6b/eb/c9/6bebc9468d83d3897c3c5cced502e0a6.jpg?b=t"></ft-image>
    <ft-image src="https://i.pinimg.com/564x/d4/bc/48/d4bc48c6ce744026f8b606847ac7f25e.jpg?b=t"></ft-image>
    <ft-image src="https://i.pinimg.com/564x/76/7c/68/767c68857198f0bb57637e11556398b1.jpg?b=t"></ft-image>
    <ft-image src="https://i.pinimg.com/564x/c2/92/fd/c292fdbed70d74822eb2b7b2c9a7a05c.jpg?b=t"></ft-image>
    <ft-image src="https://i.pinimg.com/564x/76/7c/68/767c68857198f0bb57637e11556398b1.jpg?b=t"></ft-image>
    <ft-image src="https://i.pinimg.com/564x/d4/bc/48/d4bc48c6ce744026f8b606847ac7f25e.jpg?b=t"></ft-image>
    <ft-image src="https://images.unsplash.com/photo-1498036882173-b41c28a8ba34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80"></ft-image>
    <ft-image src="https://i.pinimg.com/564x/6b/eb/c9/6bebc9468d83d3897c3c5cced502e0a6.jpg?b=t"></ft-image>
    <ft-image src="https://i.pinimg.com/564x/c2/92/fd/c292fdbed70d74822eb2b7b2c9a7a05c.jpg?b=t"></ft-image>
  </div>
</div>
