@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");
body,
html {
  font-family: 'Quicksand', sans-serif;
}
.d-grid {
  display: grid;
  grid-gap: 0.5rem;
}
.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-col-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-col-6 {
  grid-template-columns: repeat(6, 1fr);
}
.grid-col-7 {
  grid-template-columns: repeat(7, 1fr);
}
.grid-col-8 {
  grid-template-columns: repeat(8, 1fr);
}
.grid-col-9 {
  grid-template-columns: repeat(9, 1fr);
}
.grid-col-10 {
  grid-template-columns: repeat(10, 1fr);
}
.page-navigation,
.page-actions {
  .btn {
    color: $primary;
    &:hover {
      background-color: $light;
    }
  }
}

[ftRipple] {
  position: relative;
  overflow: hidden;
  .ripple {
    display: block;
    position: absolute;
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
    transform: scale(0);
  }
  .ripple.ripple-animate {
    animation: ripple 0.35s linear;
  }
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
