.placeholder {
  margin: 1px 0;
  overflow: hidden;
  .text {
    border-radius: 3px;
    margin: 4px 0;
    background-color: rgba(0, 0, 0, .03);
    &::after {
      content: '';
      display: block;
      background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, .3), transparent);
      height: 100%;
      width: 50%;
      animation: placeholder-loading 0.8s linear infinite;
    }
    &-small {
      height: 13px;
    }
    &-normal {
      height: 18px;
    }
    &-large {
      height: 22px;
    }
  }
}
@keyframes placeholder-loading {
  from {
    transform: translate3d(-200%, 0, 0);
  }
  to {
    transform: translate3d(200%, 0, 0);
  }
}
