<div class="container p-4 p-md-5">
  <div class="small text-muted">Components</div>
  <h1>Progress</h1>
  <p class="lead">You can use either the npm or yarn command-line tool to install packages. Use whichever is appropriate for your project in the examples below.</p>

  <h2>Size</h2>
  <table class="table table-bordered"><tr>
    <td style="vertical-align: middle;" class="text-center p-3"><ft-progress size="1"></ft-progress></td>
    <td style="vertical-align: middle;" class="text-center p-3"><ft-progress size="2"></ft-progress></td>
    <td style="vertical-align: middle;" class="text-center p-3"><ft-progress size="3"></ft-progress></td>
    <td style="vertical-align: middle;" class="text-center p-3"><ft-progress size="4"></ft-progress></td>
    <td style="vertical-align: middle;" class="text-center p-3"><ft-progress size="5"></ft-progress></td>
  </tr></table>

  <h2>Mode</h2>
  <table class="table table-bordered">
    <tr>
      <td style="vertical-align: middle;" class="text-center p-3"><ft-progress size="3" mode="determinate" [value]="value"></ft-progress></td>
      <td style="vertical-align: middle;" class="text-center p-3"><ft-progress size="3"></ft-progress></td>
    </tr>
    <tr class="text-center">
      <th>Determinate</th>
      <th>Indeterminate</th>
    </tr>
  </table>
</div>
