<div class="global-navigation mat-elevation-z1">
  <div class="p-4">
    <a routerLink="/"><img src="assets/logo-factor.svg" /></a>
  </div>
  <ft-list [items]="menu" iconNameField="icon"></ft-list>
</div>
<div class="content">
  <router-outlet></router-outlet>
  <div class="local-navigation">
    <a class="local-navigation__item" matRipple [routerLink]="navigation.previous.url" *ngIf="navigation.previous; else navigationItemPlaceholder">
      <div class="item__name">&nbsp;{{ navigation.previous.bookName }}</div>
      <div class="d-flex align-items-center justify-content-end">
        <ft-icon class="mr-1" name="angle-left"></ft-icon>
        <div>{{ navigation.previous.label }}</div>
      </div>
    </a>
    <a class="local-navigation__item" matRipple [routerLink]="navigation.next.url" *ngIf="navigation.next; else navigationItemPlaceholder">
      <div class="item__name">{{ navigation.next.bookName }}&nbsp;</div>
      <div class="d-flex align-items-center">
        <div>{{ navigation.next.label }}</div>
        <ft-icon class="ml-1" name="angle-right"></ft-icon>
      </div>
    </a>
  </div>
</div>
<div class="searchbox">
  <button type="button" mat-button color="primary">
    <ft-icon name="search" size="2"></ft-icon>
  </button>
</div>
<ng-template #navigationItemPlaceholder>
  <div class="local-navigation__item"></div>
</ng-template>
