@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
.navbar {
  height: 4rem;
  .navbar-brand {
    img {
      display: block;
    }
  }
}
ft-sidenav {
  /deep/.content {
    @include media-breakpoint-up(md) {
      margin-top: 4rem;
      border-right: 2px solid $light;
      box-shadow: 0 0 !important;
      background: #FFF;
    }
  }
}
.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 0;
  transition: margin-left 0.3s ease-in-out;
  &.left-sidenav {
    @include media-breakpoint-up(md) {
      margin-left: 16rem;
    }
  }
  .book-nav {
    border-top: 1px solid $input-border-color;
    display: flex;
    margin-top: auto;
    min-height: fit-content;
    .book-nav-item {
      flex: 1;
      padding: 1rem 2rem;
      &:not(div):hover {
        background-color: $light;
        text-decoration: none;
      }
      &:first-child {
        border-right: 1px solid $input-border-color;
        text-align: right;
        color: $body-color;
      }
      &:last-child {
        font-weight: 500;
      }
      .book-name {
        font-size: 80%;
        color: #666;
        font-weight: 300;
      }
    }
  }
}
