<div class="container p-4 p-sm-5">
  <div class="small text-muted">Guidelines</div>
  <h1>Spacing</h1>
  <p class="lead">Good spacing systems are based on increments that are visually distinguishable and are backed by solid mathematical principles. This toolkit gives designers and developers guidelines for effectively applying layout spacing, resulting in a more consistent application of space across our product.</p>
  <div>
    <div class="d-flex align-items-center mb-2">
      <div class="font-weight-bold mr-2" style="width:15px;">1</div>
      <div class="bg-primary" style="width:0.25rem; height:0.25rem;"></div>
    </div>
    <div class="d-flex align-items-center mb-2">
      <div class="font-weight-bold mr-2" style="width:15px;">2</div>
      <div class="bg-primary" style="width:0.5rem; height:0.5rem;"></div>
    </div>
    <div class="d-flex align-items-center mb-2">
      <div class="font-weight-bold mr-2" style="width:15px;">3</div>
      <div class="bg-primary" style="width:1rem; height:1rem;"></div>
    </div>
    <div class="d-flex align-items-center mb-2">
      <div class="font-weight-bold mr-2" style="width:15px;">4</div>
      <div class="bg-primary" style="width:1.5rem; height:1.5rem;"></div>
    </div>
    <div class="d-flex align-items-center">
      <div class="font-weight-bold mr-2" style="width:15px;">5</div>
      <div class="bg-primary" style="width:3rem; height:3rem;"></div>
    </div>
  </div>
</div>
