<div class="container p-4 p-md-5">
  <div class="small text-muted">Guidelines</div>
  <h1>Motion</h1>
  <p class="lead">Motion can bring your work to life, guide users through complex experiences, and help move forward—from here to there, now to next, start to finish—and make progress.</p>
  <p>Effective use of inconsistency in motion highlights a difference in meaning or intent behind actions with similar visual appearance.</p>
  <div class="row">
    <div class="col-sm-6">
      Use motion to reinforce meaning. Affirmative action here triggers a different exit motion for the modal than negation.
    </div>
    <div class="col-sm-6">
      
    </div>
  </div>
</div>
