<div class="container p-4 p-md-5">
  <div class="small text-muted">Factor Design System (FDS)</div>
  <h1>Acerca de</h1>
  <p class="lead">Factor Design System (FDS) es un sistema de diseño open-source creado con el objetivo de resolver los problemas básicos de la creación de interfaces de usuario, permitiendo a los desarrolladores y diseñadores concentrarse en la experiencia de usuario en problemas de mayor nivel.</p>
  <p>Una vez que se establece un sistema de diseño, el tiempo de desarrollo de un nuevo producto se reduce significativamente. FDS establece lineamientos, componentes y plantillas para evitar reinventar la rueda, y conducir con coherencia todas las interfaces de usuario. Los componentes genéricos propuestos podrían incluso combinarse en infinitas variaciones de diseño.</p>

  <h4>Fuente única de verdad</h4>
  <p>(SSOT por sus siglas en ingles) Al establecer un lenguaje de diseño común para las partes interesadas, un sistema de diseño mejora la comunicación y elimina inconsistencias. Tener una sola fuente de verdad ayuda a alinear a los miembros del equipo y elimina las conjeturas. Los componentes estandarizados del sistema de diseño permiten a los diseñadores dedicar menos tiempo a cuestiones de estilo y más tiempo a crear una experiencia de usuario potente.</p>

  <h4>Herramientas</h4>
  <p>Bootstrap, Angular</p>
</div>
