<div class="container p-4 p-md-5">
  <div class="small text-muted">Design System</div>
  <h1>About Factor UI</h1>
  <p class="lead">Carbon is IBM’s open-source design system for digital products and experiences. With the IBM Design Language as its foundation, the system consists of working code, design tools and resources, human interface guidelines, and a vibrant community of contributors.</p>
  <p>As IBM’s official design system, Carbon serves a wide range of designers and developers building digital products and experiences. The goals of the system include improving UI consistency and quality, making the design and development process more efficient and focused, establishing a shared vocabulary between designer and developer, and providing clear, discoverable guidance around design and development best practices.</p>
  <p>Carbon is maintained by a core team of designers, developers, and writers based in the Austin, Texas IBM Design Studio.</p>
  <div class="row mt-5">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Angular</h5>
          <p class="card-text">Development framework.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Boostrap</h5>
          <p class="card-text">Front-end component library.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">SASS</h5>
          <p class="card-text">CSS extension language.</p>
        </div>
      </div>
    </div>
  </div>

  <p class="mt-5">As IBM’s official design system, Carbon serves a wide range of designers and developers building digital products and experiences. The goals of the system include improving UI consistency and quality, making the design and development process more efficient and focused, establishing a shared vocabulary between designer and developer, and providing clear, discoverable guidance around design and development best practices.</p>

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Guidelines</h5>
          <p class="card-text">Development framework.</p>
          <a routerLink="/about" class="card-link">Learn more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Components</h5>
          <p class="card-text">Front-end component library.</p>
          <a routerLink="/about" class="card-link">Learn more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Templates</h5>
          <p class="card-text">CSS extension language.</p>
          <a routerLink="/about" class="card-link">Learn more</a>
        </div>
      </div>
    </div>
  </div>

  <h3 class="mt-5">Looking to contribute?</h3>
  <p>We welcome all feedback, designs, or ideas in order to produce the best possible experience for our users. If you're interested in contributing, check out our <a href="#">contributing guidelines</a> to get started.</p>
</div>
