<div class="container p-4 p-md-5">
  <div class="small text-muted">Design System</div>
  <h1>About FDS <small class="text-muted">Factor Design System</small></h1>
  <p class="lead">FDS es un sistema de diseño que mejora el proceso de diseño y desarrollo a través de un modelo estandarizado y documentado, facilitando la toma de decisiones y permitiendo centrarse en problemas de mayor nivel.</p>
  <p>El objetivo es proporsionar una interfaz de usuario consistente y de calidad, utilizando lineamientos, mejores prácticas y recursos para facilitar el diseño y desarrollo.</p>

  Design systems are essentially collections of rules, constraints, and principles, implemented in design and code.

  Design systems help to ease some of the most hurtful pains in current web development.

  Once a design system is established, the time to develop a new product with it is significantly reduced.
  Through avoiding to reinvent the wheel and gradually increasing quality of the design system contents, even the demanding requirements of the modern web can be met within time and budget constraints.
  Communication and tooling gaps are closed. All people involved in a project use the same terminology (the one that is used in the design system) which saves time and confusion.
  Centralized management of a brand leads to consistency across all user interfaces that belong to that brand.
  Generic components in a design system could even automatically be combined in endless layout variations.

  A single source of truth
By establishing a common design language for stakeholders, a Design System improves communication and eliminates inconsistencies. Having a single source of truth helps align team members and eliminates guesswork and rogue design. The Design System’s standardized components allow designers to spend less time on issues of style and more time creating a powerful user experience.

Providing user-centric experiences that scale
Creating a consistent experience for your customers across desktop, mobile, and physical interactions builds brand trust and reduces cognitive dissonance. A Design System eliminates inconsistencies for the user, while enabling the scalability of your organization’s design practice.

  <div class="row my-5">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Guidelines</h5>
          <p class="card-text">Principios de diseño y las formas correctas e incorrectas de uso.</p>
          <a routerLink="/design-system/guidelines/color" class="card-link">Learn more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Components</h5>
          <p class="card-text">Contruye aplicaciones usando Angular y Bootstrap.</p>
          <a routerLink="/design-system/components" class="card-link">Learn more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Templates</h5>
          <p class="card-text">Ejemplos de código interfaces de usuario comunes.</p>
          <a routerLink="/design-system/templates" class="card-link">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</div>
