<div class="container mt-4 pb-5">
  <div class="small text-muted">Templates</div>
  <h1>Style Guide</h1>
  <h2 class="mt-5">Color palette</h2>
  <div class="row">
    <div class="col-sm-6">
      <div class="mb-2">Primary</div>
      <table class="table table-bordered text-center"><tr>
        <td class="swatch-primary">Primary</td>
      </tr></table>
    </div>
    <div class="col-sm-6">
      <div class="mb-2">Secondary</div>
      <table class="table table-bordered text-center"><tr>
        <td class="swatch-secondary">Secondary</td>
      </tr></table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="mb-2">Status</div>
      <table class="table table-bordered text-center"><tr>
        <td class="swatch-danger w-25">Danger</td>
        <td class="swatch-warning w-25">Warning</td>
        <td class="swatch-success w-25">Success</td>
        <td class="swatch-info w-25">Info</td>
      </tr></table>
    </div>
    <div class="col-sm-6">
      <div class="mb-2">Grey scale</div>
      <table class="table table-bordered text-center"><tr>
        <td class="swatch-100"><div class="badge badge-light" style="margin-top: 42px; margin-left: -7px; position: absolute;">Light</div>100</td>
        <td class="swatch-200">200</td>
        <td class="swatch-300">300</td>
        <td class="swatch-400">400</td>
        <td class="swatch-500">500</td>
        <td class="swatch-600">600</td>
        <td class="swatch-700">700</td>
        <td class="swatch-800"><div class="badge badge-dark" style="margin-top: 42px; margin-left: -4px; position: absolute;">Dark</div>800</td>
        <td class="swatch-900">900</td>
      </tr></table>
    </div>
  </div>
  <div class="mb-2">Colors</div>
  <table class="table table-bordered text-center"><tr>
    <td class="swatch-blue">Blue</td>
    <td class="swatch-indigo">Indigo</td>
    <td class="swatch-purple">Purple</td>
    <td class="swatch-pink">Pink</td>
    <td class="swatch-red">Red</td>
    <td class="swatch-orange">Orange</td>
    <td class="swatch-yellow">Yellow</td>
    <td class="swatch-green">Green</td>
    <td class="swatch-teal">Teal</td>
    <td class="swatch-cyan">Cyan</td>
  </tr></table>
  <h2 class="mt-5">Typeface</h2>
  <div class="d-flex">
    <div class="text-center mr-5">
      <div>
        <div style="font-weight: 300; font-size: 3rem;">Aa</div>
        <div class="small text-muted">Quicksand Light</div>
      </div>
      <div>
        <div style="font-weight: 400; font-size: 3rem;">Aa</div>
        <div class="small text-muted">Quicksand Regular</div>
      </div>
      <div>
        <div style="font-weight: 500; font-size: 3rem;">Aa</div>
        <div class="small text-muted">Quicksand Medium</div>
      </div>
      <div>
        <div style="font-weight: 700; font-size: 3rem;">Aa</div>
        <div class="small text-muted">Quicksand Bold</div>
      </div>
    </div>
    <div class="mr-5 mt-n3">
      <div class="display-1 text-nowrap">Display 1</div>
      <div class="display-2 text-nowrap">Display 2</div>
      <div class="display-3 text-nowrap">Display 3</div>
      <div class="display-4 text-nowrap">Display 4</div>
    </div>
    <div class="mr-5">
      <div class="h1 text-nowrap">Heading 1</div>
      <div class="h2 text-nowrap">Heading 2</div>
      <div class="h3 text-nowrap">Heading 3</div>
      <div class="h4 text-nowrap">Heading 4</div>
      <div class="h5 text-nowrap">Heading 5</div>
      <div class="h6 text-nowrap">Heading 6</div>
    </div>
    <div>
      <p class="lead mb-0">
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
      </p>
      <div class="small mb-4" style="font-weight: 700;">Lead</div>
      <p class="mb-0">
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
      </p>
      <div class="small mb-4" style="font-weight: 700;">Paragraph</div>
      <p class="small mb-0">
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
      </p>
      <div class="small" style="font-weight: 700;">Small</div>
    </div>
  </div>
  <h2 class="mt-5">Components</h2>
  <div class="row">
    <div class="col">
      <div class="mb-2">Button primary</div>
      <button class="btn btn-primary mr-2">Normal</button>
      <button class="btn btn-primary" disabled>Disabled</button>
    </div>
    <div class="col">
      <div class="mb-2">Button primary outline</div>
      <button class="btn btn-outline-primary mr-2">Normal</button>
      <button class="btn btn-outline-primary" disabled>Disabled</button>
    </div>
    <div class="col">
      <div class="mb-2">Button secondary</div>
      <button class="btn btn-secondary mr-2">Normal</button>
      <button class="btn btn-secondary" disabled>Disabled</button>
    </div>
    <div class="col">
      <div class="mb-2">Button secondary outline</div>
      <button class="btn btn-outline-secondary mr-2">Normal</button>
      <button class="btn btn-outline-secondary" disabled>Disabled</button>
    </div>
  </div>
  <div class="mb-2 mt-4">Form Group Line</div>
  <div class="row">
    <div class="col">
      <div class="form-group form-group-line">
        <input type="text" class="form-control" placeholder=" " />
        <label>Normal</label>
      </div>
    </div>
    <div class="col">
      <div class="form-group form-group-line">
        <input type="text" class="form-control" value="Value" placeholder=" " readonly />
        <label>Readonly</label>
      </div>
    </div>
    <div class="col">
      <div class="form-group form-group-line">
        <input type="text" class="form-control" value="Value" placeholder=" " disabled />
        <label>Disabled</label>
      </div>
    </div>
  </div>

  <div class="mb-2 mt-4">Form Group Rounded</div>
  <div class="row">
    <div class="col">
      <div class="form-group form-group-rounded">
        <input type="text" class="form-control" placeholder=" " />
        <label>Normal</label>
      </div>
    </div>
    <div class="col">
      <div class="form-group form-group-rounded">
        <input type="text" class="form-control" value="Value" placeholder=" " readonly />
        <label>Readonly</label>
      </div>
    </div>
    <div class="col">
      <div class="form-group form-group-rounded">
        <input type="text" class="form-control" value="Value" placeholder=" " disabled />
        <label>Disabled</label>
      </div>
    </div>
  </div>

  <div class="mb-2 mt-4">Select</div>
  <div class="row">
    <div class="col">
      <select class="custom-select">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>
    </div>
    <div class="col">
      <select class="custom-select" disabled>
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>
    </div>
  </div>
</div>
