<div class="container p-4 p-md-5">
  <div class="small text-muted">Factor Design System (FDS)</div>
  <h1>Contribuyendo</h1>
  <p class="lead">Un sistema de diseño solo funciona cuando hay aportes de una comunidad amplia. Alentamos contribuciones tanto grandes como pequeñas de diseñadores y desarrolladores.</p>
  <p>Todas las contribuciones son bienvenidas, pero seamos amigables y respetuosos con todos los involucrados.</p>

  <h4>¿Cómo contribuir?</h4>
  <ol>
    <li>
      <div class="font-weight-bold">Sugiriendo un cambio de diseño o una corrección de un fallo</div>
      <div>¿Ves algo que necesita un ajuste o descubres un error en uno de nuestros componentes? Háznoslo saber y determinaremos la mejor manera de abordar tu inquietud.</div>
    </li>
    <li>
      <div class="font-weight-bold">Proponiendo lineamientos o componentes</div>
      <div>Estamos organizándonos para mantener una hoja de ruta, agradecemos sugerencias de casos de uso existentes, que nos permitan mantener el camino en la dirección correcta.</div>
    </li>
    <li>
      <div class="font-weight-bold">Trabajando en mejoras</div>
      <div>Si tienes un particular interés en trabajar en diseño o desarrollo y quieres aportar en mejorar este sistema de diseño, usa nuestros canales de comunicación para organizarnos.</div>
    </li>
  </ol>

  <h4>Canales de comunicación</h4>
  
</div>
